@{
    Layout = "_Layout";
}

@model FormViewModel

@foreach (var field in Model.Fields)
{
    switch (field.Type)
    {
        case FieldType.Text:
            <label class="form-label">@field.Name</label>
            <div class="input-group mb-3">
                <input id="@Model.CurrentIndex" type="text" class="form-control">
            </div>
            break;
        case FieldType.Int:
            var intField = (IntField)field;
            <label class="form-label">@field.Name</label>
            <div class="input-group mb-3">
                <input id="@Model.CurrentIndex"
                    type="number" 
                    class="form-control" 
                    @(intField.Min is not null ? "min=" + @intField.Min : null) 
                    @(intField.Max is not null ? "max=" + @intField.Max : null)>
            </div>
            break;
        default:
            break;
    }
    Model.CurrentIndex = Model.CurrentIndex + 1;
}

<div class="input-group mb-3">
    <div id="myEditor"></div>
</div>

<div class="input-group mb-3">
    <button type="button" class="btn btn-primary" onclick="sendFormData(@Model.Fields.Count())">Save</button>
</div> 

<label class="form-label">Result</label>
<div class="input-group mb-3">
    <input id="Result" type="text" class="form-control" readonly>
</div>


@section Scripts {
    <script>
        var javaScriptCode = "input.y[0] = input.y[0] + ' (testing)';\r\n\r\noutput = input.y;";

        YUI().use(
            'aui-ace-editor',
            function (Y) {
                var editor = new Y.AceEditor(
                    {
                        boundingBox: '#myEditor',
                        height: '200',
                        mode: 'javascript',
                        value: javaScriptCode,
                        width: '700'
                    }
                ).render();

                editor.getSession().on('change', function () {
                    javaScriptCode = editor.getSession().getValue();
                });
            }
        );

        function sendFormData(count) {
            var formValues = [];

            console.log();

            for (let i = 0; i < count; i++) {
                formValues.push(document.getElementById(i).value);
            }

            var data = {
                Values : formValues,
                Code: javaScriptCode
            }

            $.ajax({
                url: "/Home/SendFormData",
                method: "POST",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json'
            }).done(function (resultado) {
                document.getElementById("Result").value = resultado;
            });
        }
    </script>
}